#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
*.exe
*.exp
*.lib
*.sdf
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
hybrid_automaton/build/ALL_BUILD.vcproj
hybrid_automaton/build/cmake_install.cmake
hybrid_automaton/build/CMakeCache.txt
hybrid_automaton/build/CMakeFiles/3.1.0-rc2/CMakeCCompiler.cmake
hybrid_automaton/build/CMakeFiles/3.1.0-rc2/CMakeCXXCompiler.cmake
hybrid_automaton/build/CMakeFiles/3.1.0-rc2/CMakeDetermineCompilerABI_C.bin
hybrid_automaton/build/CMakeFiles/3.1.0-rc2/CMakeDetermineCompilerABI_CXX.bin
hybrid_automaton/build/CMakeFiles/3.1.0-rc2/CMakeRCCompiler.cmake
hybrid_automaton/build/CMakeFiles/3.1.0-rc2/CMakeSystem.cmake
hybrid_automaton/build/CMakeFiles/3.1.0-rc2/CompilerIdC/CMakeCCompilerId.c
hybrid_automaton/build/CMakeFiles/3.1.0-rc2/CompilerIdC/CompilerIdC.vcproj
hybrid_automaton/build/CMakeFiles/3.1.0-rc2/CompilerIdCXX/CMakeCXXCompilerId.cpp
hybrid_automaton/build/CMakeFiles/3.1.0-rc2/CompilerIdCXX/CompilerIdCXX.vcproj
hybrid_automaton/build/CMakeFiles/cmake.check_cache
hybrid_automaton/build/CMakeFiles/generate.stamp
hybrid_automaton/build/CMakeFiles/generate.stamp.depend
hybrid_automaton/build/CMakeFiles/generate.stamp.list
hybrid_automaton/build/CMakeFiles/TargetDirectories.txt
hybrid_automaton/build/hybrid_automaton.sln
hybrid_automaton/build/hybrid_automaton.vcproj
hybrid_automaton/build/include/hybrid_automaton/cmake_install.cmake
hybrid_automaton/build/include/hybrid_automaton/CMakeFiles/generate.stamp
hybrid_automaton/build/include/hybrid_automaton/CMakeFiles/generate.stamp.depend
hybrid_automaton/build/src/cmake_install.cmake
hybrid_automaton/build/src/CMakeFiles/generate.stamp
hybrid_automaton/build/src/CMakeFiles/generate.stamp.depend
hybrid_automaton/build/src/hybrid_automaton.vcproj
hybrid_automaton/build/ZERO_CHECK.vcproj
hybrid_automaton/build/CMakeFiles/RUN_TESTS_force.rule
hybrid_automaton/build/CTestTestfile.cmake
hybrid_automaton/build/RUN_TESTS.vcproj
hybrid_automaton/build/src/CMakeFiles/RUN_TESTS_force.rule
hybrid_automaton/build/src/CTestTestfile.cmake
hybrid_automaton/build/src/RUN_TESTS.vcproj
hybrid_automaton/build/tests/cmake_install.cmake
hybrid_automaton/build/tests/CMakeFiles/generate.stamp
hybrid_automaton/build/tests/CMakeFiles/generate.stamp.depend
hybrid_automaton/build/tests/CMakeFiles/RUN_TESTS_force.rule
hybrid_automaton/build/tests/CTestTestfile.cmake
hybrid_automaton/build/tests/hybrid_automaton_tests.vcproj
hybrid_automaton/build/tests/RUN_TESTS.vcproj
UserImages.bmp
*.orig
*.rUser
build
